#what .container .items {
  display: block;
}

#what .items .item i {
  align-self: center;
  margin-bottom: 0;
  margin-right: 1.3rem;
}

#what .items .item div h3, p {
  text-align: left;
}

#what .items .item {
  display: flex;
}

@media(max-width: 500px) {
  #navbar .container {
    display: block;
  }

  #navbar .container .logo {
    text-align: center;
    
  }

  #navbar .container .item-list {
    justify-content: center;
  }

  #navbar .container .item-list .item {
    padding: .5rem;
    margin-bottom: .3rem;
  }

  #showcase #showcase-content {
    top: 95px;
  }

  #who {
    display: block;
  }

  #who .who-img {
    display: none;
  }

  #client .clients .img-logo {
    width: 80%;
  }

  #client .clients .img-logo:last-child {
    display: none;
  }

  #contact {
    display: block;
  }

  #contact .map {
    height: 250px;
    border-top: 3px solid #333;
  }
}

@media(max-height: 568px) {
  #showcase #showcase-content .l-heading {
    font-size: 3rem;
  }

  #showcase .lead {
    margin-top: -.5rem;
  }
}