#what .items .item {
  display: flex;
}

#what .items .item i {
  align-self: center;
  margin-bottom: 0;
  margin-right: 1.3rem;
}

#what .items .item div h3, p {
  text-align: left;
}

#contact .map {
  flex: 2;
}